# fly.toml app configuration file generated for bot-wl-korte-billowing-surf-1863 on 2026-01-10T11:54:24-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-wl-korte-billowing-surf-1863'
primary_region = 'gru'

[build]

[processes]
  app = 'python main.py'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
